@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f9f9f9;
    color: #333333;                
}

.navbar.bg-body-tertiary {
    background-color: #333333 !important;
    border-bottom: 5px solid #eb8113;
}

.navbar.bg-body-tertiary .navbar-brand {
    color: #eb8113;
}

.navbar.bg-body-tertiary .nav-link {
    color: #eb8113;
}

.navbar-toggler {
    background-color: #eb8113;
}

.btn.btn-primary{
    background-color: #eb8113;
    border-color: #eb8113;
    color: #333333;
}

.card-img-top{
    max-height: 300px;
}

.img-me-index{
    max-width: 100%;
}

.rounded-circle{
    max-height: 200px;
}

.bi{
    margin: 0px 10px;
}

.carousel-item{
    height: 350px;
}

.d-block{
   height: 350px;
}

.carousel-caption.white{
    color: white;
}

.carousel-caption.black{
    color: black;
}

.img_hobby{
   max-height: 300px;
    max-width: 300px;
}

hr{
    border-top: 3px solid #eb8113;
    margin-bottom: 4rem;
}

.img_ervaring{
    width: 250px;
}

p.ervaring{
    text-align: left;
}

footer {
    background-color: #333333;
    color: #eb8113;
    padding: 1rem;
    border-top: 5px solid #eb8113;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.col-md-6:first-child {
    text-align: left;
}

.col-md-6:last-child {
    text-align: right; 
}